<!doctype html>
<html lang="en" ng-app="prog"> <!--<html> -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /> <title> Reuniones </title>  
	<!-- <meta charset="utf-8"> -->
<!--	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
	</script> -->
	<script>
  $.getJSON("http://www.empowerlabs.com/intellibanks/data/Sandbox/OliviaVenturaQuezada/WebService.php", function(result){
  	$.each(result, function(i, field){
		$("div").append(field.Participantes + " - ");
		});
	});
});
});
</script>

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css">
    <link rel="stylesheet" href="css/estilo2.css">

    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
	<script src="js/prog.js"> </script> 
    <script>
      //ons.bootstrap();
      ons.ready(function() {
      //menu.openMenu();
      });
    </script>

  </head>
  <body ng-Controller= "AppController">

<!--    <ons-sliding-menu main-page="page.html" menu-page="menu.html" max-slide-distance="260px" type="push" var="menu">
    </ons-sliding-menu> -->
	
		<ons-sliding-menu 
    menu-page="menu.html" main-page="page1.html" side="left"
    var="menu" type="reveal" max-slide-distance="260px" swipable="true">
  </ons-sliding-menu>
  
  		 <ons-template id="menu.html"> <!--  -->
      <ons-page modifier="menu-page"> 
       <!--  <ons-toolbar> -->
	    <ons-list class="menu-list">		
	 	<ons-list-item class="menu-item" ng-click="menu.setMainPage('page1.html', {closeMenu: true})">
						<!--<ons-icon icon="ion.navicon"></ons-icon> -->
						Lista de reuniones
		  </ons-list-item>                  
		</ons-list>
	  </ons-page>            
</ons-template> 
          <!-- <div class="left">
             -->	
	<ons-template id="page1.html">
  			<ons-navigator>
            	<ons-page>
      				<ons-toolbar  modifier="custom-toolbar transparent" >
      					<div class="left">
							<ons-toolbar-button ng-click="menu.toggle()">
								<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
							</ons-toolbar-button>
						</div>        				
                        <div class="center"> Lista de reuniones</div>
      				</ons-toolbar>
					<br>
      				<ons-list ng-controller="MasterController">
       					<ons-list-item modifier="chevron" class="item" ng-repeat="item in items | filter : Reunion" 
                        ng-click="showDetail(item)">
          					<ons-row>                                
            					<ons-col>                                
                					<p>Reunion:{{item.Reunion}}</p>
                					<p>Participantes:{{item.Participantes}}</p>
                                    <p>Hora:{{item.Hora}}</p>
									<p>Asunto:{{item.Asunto}}</p>					
									<p>Porcentaje:{{item.Porcentaje}}</p> 
            					</ons-col>
          					</ons-row>                          
        				</ons-list-item>
      				</ons-list>
    			</ons-page>
	  </ons-navigator>
</ons-template>		
		
		
		<ons-template id="detail.html">
    		<ons-page ng-controller="DetailController">
				<ons-toolbar>
        			<div class="right"><ons-back-button>Regresar</ons-back-button></div>
        			<div class="center">Detalles</div>
     			</ons-toolbar>
				<br>
      			<ons-list modifier="inset" style="margin-top: 10px">
        			<ons-list-item class="item">
         				<ons-row>
            				<ons-col>
                				<p align="left"> <span class="item-Reunion">{{item.Reuniones}}</span></p>
                                <p align="left"> <span class="item-Participantes"> {{item.Participantes}}</span></p>
								<p class="item-Participantes"> Hora: <span class="item-Participantes"> {{item.Hora}}</span></p>
                                <p class="item-Participantes"> Asunto: <span class="item-Participantes"> {{item.Asunto}}</span></p>
						        <p class="item-Participantes"> Porcentaje:<span class="item-Porcentaje"> {{item.Porcentaje}}</span></p> 
           					</ons-col>
          				</ons-row>
       				</ons-list-item>
					       			
      			</ons-list>
    		</ons-page>			
  		</ons-template>
		<br>
        </ons-template>
         </br>	
	<!--  
     -->
</body>
</html>

   <!-- <ons-template id="page.html">
      <ons-page>
        <ons-toolbar>
          <div class="left">
            <ons-toolbar-button ng-click="ons.slidingMenu.toggle()">
              <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
          </div>
          <div class="center">Title</div>
        </ons-toolbar>

      </ons-page>
    </ons-template>

    <ons-template id="menu.html">
      <ons-page modifier="menu-page">
        <ons-toolbar modifier="transparent">
          <div class="right">
            <ons-toolbar-button class="menu-close" ng-click="menu.close()">
              </ons-icon>Close
            </ons-toolbar-button>
          </div>
        </ons-toolbar>

        <ons-list class="menu-list">
          <ons-list-item class="menu-item" ng-click="menu.close()">
            <ons-icon icon="fa-plus"></ons-icon>
            New Post
          </ons-list-item>

          <ons-list-item class="menu-item" ng-click="menu.close()">
            <ons-icon icon="fa-bookmark"></ons-icon>
            Bookmark
          </ons-list-item>

          <ons-list-item class="menu-item" ng-click="menu.close()">
            <ons-icon icon="fa-twitter"></ons-icon>
            Official Twitter
          </ons-list-item>
        </ons-list>

        <br>

        <ons-list class="bottom-menu-list">
          <ons-list-item class="bottom-menu-item" ng-click="menu.close()">
            Settings
            <div class="notification menu-notification">3</div>
          </ons-list-item>

          <ons-list-item class="bottom-menu-item" ng-click="menu.close()">
            Help
          </ons-list-item>

          <ons-list-item class="bottom-menu-item" ng-click="menu.close()">
            Send feedback
          </ons-list-item>
        </ons-list>



      </ons-page>
    </ons-template>

  </body>
</html> -->